$primary-color: #00cc66;
$second-color: black;
.brand-main {
  background: white;
  width: 1132px;
  height: 630px;
  margin-left: 230px;
  margin-top: 25px;
  box-shadow: -0.5px 0px 0px 0px #aaaaaa;
}
.select-position {
  position: relative;
  top: 48px;
  left: 50px;
  width: 150px;
}
.search-form {
  position: relative;
  top: 80px;
  left: 900px;
  width: 150px;
}
