.product-main{
    background: white;
    width: 1132px;
    height: 930px;
    margin-left: 230px;
    margin-top: 25px;
    box-shadow: -0.5px 0px 0px 0px #aaaaaa;
}

.input-size{
    width:260px;
}
.label-size{
    width: 200px;
}
.table-product td{
    width:100px;
}
