$primary-color:#00cc66;
$second-color:black;
.category-main{
    background: white;
    width: 1132px;
    height: 630px;
    margin-left: 230px;
    margin-top: 25px;
    box-shadow: -0.5px 0px 0px 0px #aaaaaa;
}

