$primary-color:#00cc66;
.main-settings{
    background: white;
    width: 1132px;
    height: 930px;
    margin-left: 230px;
    margin-top: 25px;
    box-shadow: -0.5px 0px 0px 0px #aaaaaa;
}
.backup-label{
    color:$primary-color;
    font-weight: bold;
}
.select-gender{
    margin-left: 10px;
}
